/* @override http://localhost:3000/theme/stylesheets/application.css?1269863081 */

@import url('/stylesheets/refinery/application.css');
/*  
    Override default refinery application CSS below. 
    Formatting applies to all frontend.
*/

/* Page Settings */


body {
    margin: 0px;
    padding: 0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}



#page {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#body {
	margin: 0px auto;
	width: 960px;
	
} 

#header_content, #footer_content {
    width: 940px;
    
}


#header {
    background: white;
}


/* Heager + logo */



#header_content {
    position: relative;
    background: url(/theme/images/a4fm_logo-01.png) no-repeat scroll;
	height: 112px;
}
#header_content h1, #header_content h1 a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
	display: none;
}

#header_content h1, #header_content #menu {
    position: relative;
    bottom: 0px;
    margin: 0px;
    top: 15px;
}
#header_content #menu {
    right: 0px;
    padding: 0px;
}




/* Menu Positioning */


#menu li {
    float: left;
    list-style: none;
    position: relative;
    bottom: 5px;
	padding-top: 40px;
}


/* menu styles */


#menu li a, #menu li:hover ul li a {
    color: #969792;
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    cursor: pointer;
}

#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover {
    color: #32322b;
    background: white;
}
#menu li ul {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 300px;
    background: white;
}
#menu li ul li {
    float: left;
	}
	
#menu li:hover ul {
    left: auto;
}

/* Body Settings */



body {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
}


#body_content img{
    margin-top: 15px;
	border-top: 5px solid green;
}
#body_content_left {
    width: 90px;
}
#body_content_right {
    width: 400px;
	background: url(/theme/images/silver75-01.png) repeat;
	
	
	margin-top: 55px;
	margin-right: 55px;
	padding-left: 15px;
	padding-right: 15px;
	
}





#footer {
    margin-top: 120px;
    background: gray;
}
#footer_content {
    height: 103px;
    padding-top: 94px;
    background: ;
    text-align: right;
}