/* Page Settings */


body {
    margin: 0px;
    padding: 0px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1#body_content_page_title{
	font-size: 2em;
	height: 1px;
	color: white;
}


#page {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#body {
	margin: 0px auto;
	width: 960px;
	
} 

#header_content, #footer_content {
    width: 960px;
   
    
}


#header {
    background: white;
}

/* Heager + logo */



#header_content {
    position: relative;
    background: url(/theme/images/a4fm_logo-01.png) no-repeat scroll;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
#header_content h1, #header_content h1 a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
	display: none;
}

#header_content h1, #header_content #menu {
    position: ;
    bottom: 0px;
    margin: 0px;
   
}
#header_content #menu {
    right: 0px;
    padding: 0px;
}




/* Menu Positioning */

#tab_menu {
	width: 960px;
	float: left;
	
	top: 55px;
	position: relative;
}

#menu {
}

#menu li {
    float: left;
    list-style: none;
    position: relative;
    bottom: 5px;
	position: relative;
	font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}


/* menu styles */


#menu li a, #menu li:hover ul li a {
    color: white;
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    cursor: pointer;
    background-color: green ;
    
}

#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover {
    color: #c9eb4d;
    
}
#menu li ul {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 300px;
    background: green;
	font-size: 11px;
}
#menu li ul li {
    float: left;
	}
	
#menu li:hover ul {
    left: auto;
}


#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #item_8, #item_9 {
	margin-left: 6px;
}

/* Body Settings */



body {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

h1#body_content_page_title{
	font-size: 2em ;
}

#body_content img{
    margin-left: auto;
    margin-right: auto;
}

#bar {
	height: 10px;
	background-color: green;
    width: 940px;
    padding-top: 10px;
}

#body_content_left {
  width: 960px;
	z-index: -1;
	position: absolute;


}
#body_content_right {
    width: 350px;
	background: url(/theme/images/silver75-01.png) repeat;
	
	margin-top: 30px;
	margin-right: 55px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 1;
	display: block;
	float: right;
	margin-bottom: 30px;
	height: 450px;
}





#footer {
    margin-top: 120px;
    background: gray;
    clear: both ;
    
}
#footer_content {
    height: 40px;
    padding-top: px;
	margin-bottom: 30px;
    background: ;
    text-align: left;
	margin-left: 20px;
	padding-top:5px;
}