
body {
    font-family: Verdana;
    font-size: 12px;
}

#header h1 a{
	color: black;
	text-align: right;
	display: block;
}


/* hide the sub menus*/
#body.clearfix ul {
	visibility: hidden;
	float: left;
}


#body_content_left *, #body_content_right * {
    line-height: 16px;
    color: #fbffff;
}

h1, #body_content h1, h1#body_content_page_title {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: "Trebuchet MS", Trebuchet;
    line-height: 20px;
    margin-bottom: 5px;
}

#body_content_left p, #body_content_right p {
    margin-bottom: 0px;
}
h2, h3 {
    color: #8f8f8f;
    font-weight: normal;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
#footer_content * {
    color: #d9dcdc;
    font-size: 11px;
}