<div id='footer_content'>
  <div id="footer_legal">
  	
  <p>
    Copyright &copy; <%= Time.now.year %> <%= RefinerySetting[:site_name] %> 
  </p></div>
<div id="footer_contact">
	<h3>Contact Us</h3>
	Email: info@Agents4FM.com<br>
	Call: +44 (0)20 7321 5645<br>
	Fax: +44 (0)20 7321 3738<br>
	Agents4FM, 100 Pall Mall, <br>St James's, London, SW1Y 5HP, UK
</div>
</div>
