<div id='header_content'>
	<div class="logo"><img src="http://wyli.co.uk/logo.jpg" /></div>
  <h1><%= link_to RefinerySetting[:site_name], root_url %></h1>
  <div id='tab_menu'><%= render :partial => "/shared/menu" %></div>
</div>
